# https://ne-on.org/

parameters:
    level: max
    ignoreErrors:
        - '#^Call to an undefined method Mockery\\Mock#'
        - '#function preg_replace#'
        - '#Text::removeInvisibleChars#'

includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
