<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true"
        cacheResult="false"
>
    <testsuites>
        <!-- Tests unitaires -->
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <!-- Configure which source files belong to your project (used for coverage and error reporting) -->
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <!-- Configure coverage *reports* -->
    <coverage includeUncoveredFiles="true">
        <report>
            <html outputDirectory="./build/coverage"/>
            <clover outputFile="clover.xml"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
